.THIS .list-container {
    min-width: 15rem;
    padding-top: 0.45em;
	padding-right: 0.45em;
}
.THIS .card .card-picture {
    width: 1.5rem;
    margin-left: 0.125rem;
}
.THIS .list {
    min-height: 500px;
    overflow-y: auto;
}
.THIS .chevron tbody tr td:first-child {
    width: 2%;
    text-align: center;
}
.THIS .card {
    height: 100px !important;
}
.THIS li.card_state_reject {
    border-left: 0.5em solid red !important;
    cursor: default;
}
.THIS li.card_state_active {
    border-left: 0.5em solid green !important;
}